@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400&display=swap);

body {
  font-family: "Inter", sans-serif;
}

.react-multiple-carousel__arrow {
  background-color: transparent !important;
  border: 1px solid #01fe84 !important;
}

.react-multiple-carousel__arrow::before {
  color: #01fe84 !important;
}